{% extends 'base.html.twig' %}
{% block title %}
    Лента
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% if app.user %}
                <aside class="col-12 col-md-3 col-lg-2 mb-3">
                    <div class="card">
                        <div class="card-header">
                            Подписки
                        </div>
<ul class="list-group list-group-flush">
    {% for user in following %}
        <li class="list-group-item">
           <a href="{% if app.user and app.user.id == user.id %}
    {{ path('app_profile', { id: user.id }) }}
{% else %}
    {{ path('app_public_profile', { id: user.id }) }}
{% endif %}">{{ user.username }}
            </a>
        </li>
    {% else %}
        <li class="list-group-item text-muted">
            Пока нет подписок
        </li>
    {% endfor %}
</ul>

                    </div>
                </aside>
            {% endif %}
            <section class="col-12col-md-9 col-lg-10">
                {% if mode == 'feed' %}
                    {% if feed is null %}
                        <div class="row">
                            <div class="col-12">
                                Фид не найден (возможно, ещё не создан для пользователя).
                            </div>
                        </div>
                    {% else %}
                        {% for item in feed.feedItems %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="card" style="width: 18rem;">
                                        <img src="..." class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <div>
                                                    <a href="{% if app.user and app.user.id == item.video.user.id %}
    {{ path('app_profile', { id: item.video.user.id }) }}
{% else %}
    {{ path('app_public_profile', { id: item.video.user.id }) }}
{% endif %}">
                                                        Author
                                                    </a>
                                                    <h5 class="card-title">
                                                        {{ item.video.title }}
                                                    </h5>
                                                </div>
                                                <p class="card-text">
                                                    {{ item.video.description }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-12">
                                        В ленте пока нет видео.
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {% for video in videos %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="card" style="width: 18rem;">
                                        <img src="..." class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <div>
                                                    <a href="{{ path('app_profile', { id: video.user.id }) }}">
                                                        Author
                                                    </a>
                                                    <h5 class="card-title">
                                                        {{ video.title }}
                                                    </h5>
                                                </div>
                                                <p class="card-text">
                                                    {{ video.description }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-12">
                                        Пока нет видео.
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </section>
                </div>
            </div>
        {% endblock %}
        