{% extends 'base.html.twig' %}

{% block title %}Hello ProfilePageController!{% endblock %}

{% block body %}


    {#    <ul>#}
{#        <li>{{ user.username }}</li>#}
{#        <li>{{ user.pfp }}</li>#}
{#        <li>{{ user.email }}</li>#}
{#        <li>{{ user.password}}</li>#}
{#    </ul>#}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
