{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <aside class="col-12 col-md-3 col-lg-2 mb-3">
            <div class="card">
                <div class="card-header">{{ user.username }}'s Profile</div>

                <div class="card-body">
                    <p>Email: {{ user.email }}</p>

                    <p>
                        Profile Picture:
                        <img src="{{ user.pfp }}" alt="Profile Picture" width="100">
                    </p>

                    {% if app.user and app.user.id != user.id %}
                        <form method="post" action="{{ path('app_public_profile', { id: user.id }) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('subscribe' ~ user.id) }}">
                            {% if isSubscribed %}
                                <button type="submit" class="btn btn-secondary">Отписаться</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary">Подписаться</button>
                            {% endif %}
                        </form>
                    {% endif %}

                    <h5>Videos:</h5>

                    {% for v in user.videos %}
                        <div class="card mb-3" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">

                            <div class="card-body">
                                <div>
                                    {% if app.user and app.user.id == v.user.id %}
                                        <a href="{{ path('app_profile', { id: v.user.id }) }}">Author</a>
                                    {% else %}
                                        <a href="{{ path('app_public_profile', { id: v.user.id }) }}">Author</a>
                                    {% endif %}

                                    <h5 class="card-title">{{ v.title }}</h5>
                                </div>

                                <p class="card-text">{{ v.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </aside>
    </div>
</div>
{% endblock %}
